
@{
    ViewBag.Title = "RequestNotValid";
}

<div class="homepage-title">

    <h2>Number of days requested exceeds currently available days off!</h2>

</div>

<p>
    @Html.ActionLink("Return to My Profile", "MyProfile", "Employee")
</p>

